# **IME Data Analytics Competition**

> For this competition, I used Python to optimize the monetary gains from a stock market investment of $1500 based on stock price data provided from the S&P 500 from 2/8/2013 to 2/7/2018. I used Google Colab as my IDE because of its free access to GPUs, which would come to be beneficial when computing the optimizations

### Step 0: Packages and Libraries


> I chose to use the PuLP library, which includes a linear programming model that can be utilized for optimizing our objective function. Additionally, I used the pandas library because it provides functionality on how to work with dataframes, such as the csv dataframe that was provided. 

> After importing and downloading everything I need, I connected to a GPU offered by Google Colab for free so that I could run my intensive computations.

In [2]:
!pip install pulp

Collecting pulp
  Downloading https://files.pythonhosted.org/packages/41/34/757c88c320f80ce602199603afe63aed1e0bc11180b9a9fb6018fb2ce7ef/PuLP-2.1-py3-none-any.whl (40.6MB)
     |████████████████████████████████| 40.6MB 72kB/s
Requirement already satisfied: pyparsing>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from pulp) (2.4.7)
Installing collected packages: pulp
Successfully installed pulp-2.1

In [0]:
import pandas as pd
import io
from pulp import *
from dateutil.relativedelta import relativedelta
from google.colab import files
import matplotlib as plt

In [4]:
from google.colab import drive
drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at drive

In [5]:
!nvidia-smi

Tue May 26 11:08:15 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.82       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla P100-PCIE...  Off  | 00000000:00:04.0 Off |                    0 |
| N/A   33C    P0    26W / 250W |      0MiB / 16280MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

### Step 1: Data Cleaning/Alteration

> I import and read the CSV that we were given and noticed that we only had the date, code, and price. It was difficult to gather the overall trend of the stocks because they were not organized, so I created a pivot table. Now, it is easier to see all the prices of every stock on a given day.

In [6]:
uploaded = files.upload()

Saving DAComp2Data.csv to DAComp2Data.csv

In [7]:
stocks = pd.read_csv('DAComp2Data.csv')
stocks.info()
stocks

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493528 entries, 0 to 493527
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    493528 non-null  object
 1   Price   493528 non-null  float64
 2   Code    493528 non-null  object
dtypes: float64(1), object(2)
memory usage: 11.3+ MB

           Date  Price  Code
0       5/19/16  39.82  HRUA
1       5/20/16  40.29  HRUA
2       5/23/16  40.45  HRUA
3       5/24/16  41.13  HRUA
4       5/25/16  41.29  HRUA
...         ...    ...   ...
493523   2/1/18  23.57  ZYSG
493524   2/2/18  23.86  ZYSG
493525   2/5/18  23.25  ZYSG
493526   2/6/18  23.46  ZYSG
493527   2/7/18  23.38  ZYSG

[493528 rows x 3 columns]

In [8]:
def pivot_maker(csvname):
  df = pd.read_csv(io.BytesIO(uploaded[csvname]))
  df['Date'] = pd.to_datetime(df['Date']).dt.date
  pivot = pd.pivot_table(df, values = 'Price', index = 'Date', columns = 'Code')
  return pivot

piv = pivot_maker('DAComp2Data.csv')
piv.info()
piv

<class 'pandas.core.frame.DataFrame'>
Index: 1259 entries, 2013-02-08 to 2018-02-07
Columns: 392 entries, ACFV to ZYSG
dtypes: float64(392)
memory usage: 3.8+ MB

Code         ACFV   ACXN   AEMS   AENO  ...    ZOQI   ZPZG   ZRBQ   ZYSG
Date                                    ...
2013-02-08  42.83  11.07  24.40  52.57  ...   60.49  25.66  24.13  46.70
2013-02-11  42.28  11.20  24.45  52.13  ...   60.22  25.67  24.12  46.91
2013-02-12  43.21  11.31  24.74  52.50  ...   59.49  25.84  24.24  47.08
2013-02-13  42.67  11.34  24.84  52.85  ...   59.14  25.86  24.12  47.26
2013-02-14  42.94  11.21  24.86  53.63  ...   59.13  25.75  23.89  47.15
...           ...    ...    ...    ...  ...     ...    ...    ...    ...
2018-02-01  58.93  11.51  26.15  97.00  ...  139.41  44.16  26.43  23.57
2018-02-02  55.40  11.12  25.46  96.75  ...  137.68  43.48  26.19  23.86
2018-02-05  54.08  10.60  24.47  95.39  ...  134.25  42.73  25.16  23.25
2018-02-06  53.81  10.58  25.17  95.16  ...  135.02  42.16  25.51  23.46
2018-02-07  53.44  10.48  25.74  95.11  ...  135.40  42.16  25.36  23.38

[1259 rows x 392 columns]

### Step 2: Creating Optimization Functions

> In order to solve the problem, I first considered a nolinear optimization problem with our objective function as the sell price minus the buy price. I realized that iterating through and solving that problem for every possible combination of dates would give me the maximum possible earnings.

In [0]:
''' 
This is the definition for the optimization function based on the specific sell and buy day. Using the PuLP package, we are able to define the objective
function and constraints. This is essentially excel solver, but in python. If details = False, it returns the sell date and the maximum earnings.
This is what we will set it to when using it in the the full_optimization function to find the max earnings. After we find out which days produce the highest
earnings, we can set details = True which will return the stock names and how many shares of each we bought.
'''
def optimization(data, buy_row_index, sell_row_index, stock_names, details = False):
  prob = LpProblem('MAXRETURNS', LpMaximize)  # Find Maximum
            
  sellprice = dict(zip(stock_names, data.iloc[sell_row_index].values))
  buyprice = dict(zip(stock_names, data.iloc[buy_row_index].values))

  IntShares = LpVariable.dicts('IntShares', stock_names, lowBound=0, upBound=10, cat='Integer')  # Initialize integer variables, constrain to 10 maximum shares
  BinTicker = LpVariable.dicts('BinTicker', stock_names, cat='Binary')  # Initialize binary variables
  prob += lpSum(IntShares[i] * (sellprice[i] - buyprice[i]) for i in stock_names)  #Objective Function
            
  #Subject To:
  prob += lpSum([IntShares[i] * buyprice[i] for i in stock_names]) <= 1500, 'Budget (1500)'
  prob += lpSum([BinTicker[i] for i in stock_names]) >= 5, 'Min Tickers (5)'
  for i in stock_names:
    prob += (IntShares[i] - ((10 * BinTicker[i]))) <= 0
    prob += (IntShares[i] - (.5 * BinTicker[i])) >= 0

  prob.solve()

  if details == True:
    details = []
    for v in prob.variables():
      if v.varValue > 0:
          details.append({v.name: v.varValue})
    details.append({'Maximum Earnings': value(prob.objective)})
    return details

  print(str(data.index[sell_row_index]), value(prob.objective))
  return (str(data.index[sell_row_index]), value(prob.objective))

In [0]:
''' 
We want to identify a buy date and then iterate through all the possible sell dates for that buy date (within a year) and calculate the maximum earnings of that given pair
We then want to store the largest maximum earnings and the associated sell date that we got from the buy date
We repeat this process for every buy date until we have stored all pairings of the buy dates and best sell dates 
Example: We will have something like (buydate1, best selldate for 1): max_earnings from that date pairing
                                     (buydate2, best selldate for 2): max_earnings from that date pairing
                                     (buydate3, best selldate for 3): max_earnings from that date pairing
                                                              ....
                                     (buydate1258, best selldate for 1258): max_earnings from that date pairing
                                     (buydate1259, best selldate for 1259): max_earnings from that date pairing
'''

def full_optimization(data, start, stop):
  max_earnings_buyday = {}
  labels = data.columns
  
  #Larger loop that iterates through all buy dates
  for buyidx in range(start, stop):
    buydate = data.index[buyidx]
    buy_prices = data.iloc[buyidx].values

    max_price = 0
    sell_day = ""

    #Smaller loop that iterates through all possible sell dates given the buy day
    for sellidx in range(buyidx + 1, piv.shape[0]):

      selldate = data.index[sellidx]

      less_than_a_year = relativedelta(selldate, buydate).years
      if less_than_a_year < 1:
        top_earning_details = optimization(data, buyidx, sellidx, labels)

        if max_price < top_earning_details[1]:
          max_price = top_earning_details[1]
          sell_day = top_earning_details[0]
       
      #Checking special case where buy and sell date are a year apart, structured code this way to only check .days when necessary
      else: 
        exactly_one_year = relativedelta(selldate, buydate).years + relativedelta(selldate, buydate).days
        if exactly_one_year == 1:
          top_earning_details = optimization(data, buyidx, sellidx, labels)

          if max_price < top_earning_details[1]:
            max_price = top_earning_details[1]
            sell_day = top_earning_details[0]
        break

    max_earnings_buyday[str(data.index[buyidx]) + " TO " + sell_day] = max_price

  return max_earnings_buyday

### Step 3: Gathering Optimization Data

> Because it takes approximately 40 seconds to find the sell date and maximum earnings for a given buy date, the code will run for around 14 hours. In order to reduce the time cost, I divided the data in four parts and ran the optimizations on 4 different Google Colab accounts in parallel so that the time for all the notebooks to finish running would be around 3.5 hours, preventing Google Colab from timing out. I then combined all the four individual csv instances into one and was able to look at all the dates and their statistics.

In [0]:
# max1 = full_optimization(piv, 0, 315)
# max_section_1 = pd.DataFrame(list(max1.items()), columns=['Dates','Max Earnings'])
# max_section_1.to_csv('max1real.csv')
# !cp max1real.csv "drive/My Drive/"


# max2 = full_optimization(piv, 315, 630)
# max_section_2 = pd.DataFrame(list(max2.items()), columns=['Dates','Max Earnings'])
# max_section_2.to_csv('max2.csv')
# !cp max2.csv "drive/My Drive/"


# max3 = full_optimization(piv, 630, 945)
# max_section_3 = pd.DataFrame(list(max3.items()), columns=['Dates','Max Earnings'])
# max_section_3.to_csv('max3.csv')
# !cp max3.csv "drive/My Drive/"


# max4 = full_optimization(piv, 945, 1259)
# max_section_4 = pd.DataFrame(list(max4.items()), columns=['Dates','Max Earnings'])
# max_section_4.to_csv('max4.csv')
# !cp max2.csv "drive/My Drive/"

In [0]:
m_all = files.upload()

Saving maxcombined.csv to maxcombined.csv

In [0]:
dfm_combined = pd.read_csv(io.BytesIO(m_all['maxcombined.csv'])).drop('Unnamed: 0', axis = 1)
dfm_combined

                         Dates  Max Earnings
0     2013-02-08 TO 2014-02-07      2643.584
1     2013-02-11 TO 2014-02-10      2728.101
2     2013-02-12 TO 2014-02-10      2735.970
3     2013-02-13 TO 2014-02-13      2736.944
4     2013-02-14 TO 2014-02-13      2725.528
...                        ...           ...
1254  2018-02-01 TO 2018-02-07       147.670
1255  2018-02-02 TO 2018-02-07       166.540
1256  2018-02-05 TO 2018-02-07       186.880
1257  2018-02-06 TO 2018-02-07       128.140
1258            2018-02-07 TO          0.000

[1259 rows x 2 columns]

### Step 4: Identifying Best Buy Date and Sell Date

> After combining all the four parts, I sorted the dataframe and identified the best buy and sell date. I found that the best buy date is Feb 25, 2013 and the best sell date is Feb 25, 2014 and the earnings I got was $3196.5725!

In [0]:
dfm_combined = dfm_combined.sort_values(by = "Max Earnings", ascending = False, ignore_index = True)
dfm_combined

                         Dates  Max Earnings
0     2013-02-25 TO 2014-02-25     3196.5725
1     2013-02-26 TO 2014-02-25     3152.5700
2     2013-02-27 TO 2014-02-25     3096.9700
3     2016-02-11 TO 2017-02-03     3081.0500
4     2013-02-28 TO 2014-02-25     3059.3700
...                        ...           ...
1254  2018-01-30 TO 2018-02-07      152.7700
1255  2018-01-29 TO 2018-02-01      148.0600
1256  2018-02-01 TO 2018-02-07      147.6700
1257  2018-02-06 TO 2018-02-07      128.1400
1258            2018-02-07 TO         0.0000

[1259 rows x 2 columns]

In [0]:
# Best buy day/sell day combination

dfm_combined.iloc[0]

Dates           2013-02-25 TO 2014-02-25
Max Earnings                     3196.57
Name: 0, dtype: object

### Step 5: Identifying distribution of stock purchases and shares

> Now that I know the dates, I need to identify what stocks and number of shares to purchase. I can call the optimization() function which takes in an additional argument known as details. Here, I can specify the start and end date and get back the distribution of stock purchases and shares.

> These are the results:


*   EMFA: 10 shares
*   KBZK: 10 shares
*   KZIM: 7 shares
*   PDRG: 1 share
*   RIRH: 10 shares
*   WKCS: 10 shares

In [0]:
# Indices of the buy and sell prices in the pivot table
buy_prices = piv.iloc[10]
sell_prices = piv.iloc[262]
optimization(piv, 10, 262, piv.columns, True)

[{'BinTicker_EFMA': 1.0},
 {'BinTicker_KBZK': 1.0},
 {'BinTicker_KZIM': 1.0},
 {'BinTicker_PDRG': 1.0},
 {'BinTicker_RIRH': 1.0},
 {'BinTicker_WKCS': 1.0},
 {'IntShares_EFMA': 10.0},
 {'IntShares_KBZK': 10.0},
 {'IntShares_KZIM': 7.0},
 {'IntShares_PDRG': 1.0},
 {'IntShares_RIRH': 10.0},
 {'IntShares_WKCS': 10.0},
 {'Maximum Earnings': 3196.5725}]

In [0]:
stocks = ['EFMA', 'KBZK', 'KZIM', 'PDRG', 'RIRH', 'WKCS']
shares = [10, 10, 7, 1, 10, 10]
budget_spent = 1500
money_back = 0
total_earnings = 0

print("STARTING BUDGET: " + str(budget_spent))
for s in range(len(stocks)):
  bprice = buy_prices[buy_prices.index == stocks[s]].values[0]
  sprice = sell_prices[sell_prices.index == stocks[s]].values[0]
  
  budget_spent -= bprice * shares[s]
  money_back += sprice * shares[s]
  total_earnings += (sprice - bprice) * shares[s]
  rev = sprice - bprice

  print(stocks[s] + ": " + str(shares[s]) + " shares")
  print()

print("TOTAL MONEY SPENT: " + str(1500 - budget_spent))
print("TOTAL MONEY BACK: " + str(money_back))
print("TOTAL EARNINGS: " + str(total_earnings))

STARTING BUDGET: 1500
EFMA: 10 shares

KBZK: 10 shares

KZIM: 7 shares

PDRG: 1 shares

RIRH: 10 shares

WKCS: 10 shares

TOTAL MONEY SPENT: 1499.2525
TOTAL MONEY BACK: 4695.825
TOTAL EARNINGS: 3196.5725

# Conclusion

In order to maximize the monetary gains from a stock market investment of $1500 based on stock price data provided from the S&P 500 from 2/8/2013 to 2/7/2018, I should buy and selling the following stocks and shares on February 25, 2013 and February 25, 2014.

*   EMFA: 10 shares
*   KBZK: 10 shares
*   KZIM: 7 shares
*   PDRG: 1 share
*   RIRH: 10 shares
*   WKCS: 10 shares

As a result, I will earn 3196.5725 dollars from the initial 1500 dollars budget